/* Общий фон */
body {
    background-color: #f8f9fa;
}

/* Hover-эффекты для кнопок */
button:hover {
    transform: translateY(-3px);
    transition: transform 0.2s ease-in-out, background-color 0.3s;
}

/* Изображение */
.img-fluid {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s;
}
.img-fluid:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

/* Тени для карточек */
.card {
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.info-text {
    color: black;
    line-height: 1.8;
}
